<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>489782825095-0qcunl7qkabh6sd03gm1bnbuormqvb3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489782825095-0qcunl7qkabh6sd03gm1bnbuormqvb3e</string>
	<key>GCM_SENDER_ID</key>
	<string>489782825095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GeekHub.pizza2017.ios</string>
	<key>PROJECT_ID</key>
	<string>pizza2017-a6ba5</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza2017-a6ba5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:489782825095:ios:f9af90d5c809ce77</string>
	<key>DATABASE_URL</key>
	<string>https://pizza2017-a6ba5.firebaseio.com</string>
</dict>
</plist>